footer {
   background-color: #ef5350;
   height: 100%;
   padding: 15px;
}
.containerFooter {
   position: absolute;
   bottom: 0;
   width: 100%;
}
.footer{
   display: flex;
   justify-content: space-between;
}
.containerRedes { 
   display: flex;
   /* align-items: center; */
}

p {
   margin-right: 5px;
}

a {
   margin-right: 10px;
}