.containerHeader {
   position: absolute;
   top: 0;
   width: 100%;
}
.header {
   background-color: #ef5350;
   display: flex;
   justify-content: center;
   align-items: center ;
   padding: 3px;
   height: auto;
   /* width: 100%; */
}

